{
  "presets": [
    "stage-0",
    "react",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "ie >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    [
      "transform-react-jsx",
      {
        "pragma": "preact.h"
      }
    ]
  ],
  "comments": false
}
